/* App.css */
.react-calendar__navigation {
  background: #0071bc;
}

.available-date {
  color: black !important;
  border-radius: 5px !important;
}

.unavailable-date {
  background-color: #f1f1f1; /* Light grey background */
  color: #ee0000; /* Grey text */
  text-decoration: line-through; /* Optional: strike through unavailable dates */
}


.react-calendar__tile {
  height: 45px !important;
}


